<nav class="navbar">
    <a href="/" class="nav-logo">B99.</a>
    <ul class="nav-menu">
        <li class="nav-item">
            <a href="/" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
            <a href="/merch" class="nav-link">Merch</a>
        </li>
        <li class="nav-item">
            <a href="/characters" class="nav-link">Characters</a>
        </li>
        <li class="nav-item">
            <a href="/posts" class="nav-link">Forum</a>
        </li>
        <li class="nav-item">
              <a href="/users/register" class="nav-link">Register</a>
        </li>
        <li class="nav-item">
              <a href="/users/login" class="nav-link">Login</a>
        </li>
    </ul>
    <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
</nav>